package {{pkg}};

import org.flooc.combo.dataoperation.repo.CmdRepo;
import {{group}}.domain.{{pkgPrefix}}.entity.{{upperPrefix}}Entity;

/**
 * @author sujie
 * @since 1.0.0
 */
public interface {{cls}} extends CmdRepo<{{upperPrefix}}Entity, String> {

}