package {{pkg}};

import org.springframework.stereotype.Service;
import {{group}}.domain.{{pkgPrefix}}.domainservice.{{upperPrefix}}DomainService;

/**
 * @author sujie
 * @since 1.0.0
 */
@Service
public class {{cls}} implements {{upperPrefix}}DomainService {

}