package {{pkg}};

import lombok.Getter;
import lombok.Setter;
import org.flooc.combo.dataoperation.support.AbstractEntity;

/**
 * @author sujie
 * @since 1.0.0
 */
@Setter
@Getter
public class {{cls}}  extends AbstractEntity {


}