package {{pkg}};

import {{group}}.domain.{{pkgPrefix}}.entity.{{upperPrefix}}Entity;

/**
 * @author sujie
 * @since 1.0.0
 */
public final class {{cls}} {

  private {{cls}}() {
  }

  public record {{upperPrefix}}CreateEvent({{upperPrefix}}Entity {{prefix}}) {
  }

  public record {{upperPrefix}}UpdateEvent({{upperPrefix}}Entity {{prefix}}) {
  }

  public record {{upperPrefix}}DeleteEvent({{upperPrefix}}Entity {{prefix}}) {
  }

}
