package {{pkg}};

import org.flooc.combo.dataoperation.event.EventProcessor;
import org.springframework.stereotype.Service;
import org.springframework.context.event.EventListener;
import {{group}}.domain.{{pkgPrefix}}.entity.{{upperPrefix}}Entity;
import {{group}}.domain.{{pkgPrefix}}.event.{{upperPrefix}}Events;

/**
 * @author sujie
 * @since 1.0.0
 */
@Service
public class {{cls}} implements EventProcessor {

  // @Async("appTaskPool")
  // @TransactionalEventListener
  @EventListener
  public void handle({{upperPrefix}}Events.{{upperPrefix}}CreateEvent event) {
  }

  // @Async("appTaskPool")
  // @TransactionalEventListener
  @EventListener
  public void handle({{upperPrefix}}Events.{{upperPrefix}}UpdateEvent event) {
  }

  // @Async("appTaskPool")
  // @TransactionalEventListener
  @EventListener
  public void handle({{upperPrefix}}Events.{{upperPrefix}}DeleteEvent event) {
  }

}
