package {{pkg}};

import org.flooc.combo.dataoperation.event.EventProcessor;
import org.springframework.stereotype.Service;

/**
 * @author sujie
 * @since 1.0.0
 */
@Service
public class {{cls}} implements EventProcessor {


}
