package {{pkg}};

import org.floocframework.boot.data.common.event.EventProcessor;
import org.springframework.stereotype.Service;
import org.springframework.context.event.EventListener;
import {{group}}.domain.{{pkgPrefix}}.entity.{{uPrefix}}Entity;
import {{group}}.domain.{{pkgPrefix}}.event.{{uPrefix}}Events;

/**
 * @author sujie
 * @since 1.0.0
 */
@Service
public class {{cls}} implements EventProcessor {

  // @Async("appTaskPool")
  // @TransactionalEventListener
  @EventListener
  public void handle({{uPrefix}}Events.{{uPrefix}}CreateEvent event) {
  }

  // @Async("appTaskPool")
  // @TransactionalEventListener
  @EventListener
  public void handle({{uPrefix}}Events.{{uPrefix}}UpdateEvent event) {
  }

  // @Async("appTaskPool")
  // @TransactionalEventListener
  @EventListener
  public void handle({{uPrefix}}Events.{{uPrefix}}DeleteEvent event) {
  }

}
