package {{pkg}};

import org.mapstruct.Mapper;
import org.mapstruct.MappingConstants.ComponentModel;
import org.flooc.combo.dataoperation.mapper.VOMapper;
import {{group}}.domain.{{pkgPrefix}}.vo.{{upperPrefix}}VO;
import {{group}}.domain.{{pkgPrefix}}.entity.{{upperPrefix}}Entity;


/**
 * @author sujie
 * @since 1.0.0
 */
@Mapper(componentModel = ComponentModel.SPRING)
public interface {{cls}} extends VOMapper<{{upperPrefix}}VO, {{upperPrefix}}Entity> {


}