package {{pkg}};

import org.mapstruct.Mapper;
import org.mapstruct.MappingConstants.ComponentModel;
import org.flooc.combo.dataoperation.mapper.CmdMapper;
import {{group}}.application.{{pkgPrefix}}.cmd.{{upperPrefix}}CreateCmd;
import {{group}}.application.{{pkgPrefix}}.cmd.{{upperPrefix}}UpdateCmd;
import {{group}}.domain.{{pkgPrefix}}.entity.{{upperPrefix}}Entity;



/**
 * @author sujie
 * @since 1.0.0
 */
@Mapper(componentModel = ComponentModel.SPRING)
public interface {{cls}} extends CmdMapper<{{upperPrefix}}Entity, {{upperPrefix}}CreateCmd, {{upperPrefix}}UpdateCmd> {

  @Override
  default {{upperPrefix}}Entity buildOfOnly(String id) {
    {{upperPrefix}}Entity entity = new {{upperPrefix}}Entity();
    entity.setId(id);
    return entity;
  }

}
