package {{pkg}};

import org.flooc.combo.dataoperation.dispatch.query.QueryService;
import org.flooc.combo.dataoperation.dispatch.query.QueryServiceDefinition;
import {{group}}.domain.{{pkgPrefix}}.vo.{{upperPrefix}}VO;
import {{group}}.domain.{{pkgPrefix}}.query.{{upperPrefix}}PageQuery;
import {{group}}.domain.{{pkgPrefix}}.mapper.{{upperPrefix}}VOMapper;
import {{group}}.domain.{{pkgPrefix}}.repo.{{upperPrefix}}QueryRepo;


/**
 * @author sujie
 * @since 1.0.0
 */
@QueryServiceDefinition(queryRepoType = {{upperPrefix}}QueryRepo.class, voMapperType = {{upperPrefix}}VOMapper.class)
public interface {{cls}} extends QueryService<{{upperPrefix}}VO, {{upperPrefix}}PageQuery> {


}
