package {{pkg}};

import org.floocframework.boot.data.common.qry.DataPage;
import org.floocframework.boot.data.common.qry.PageRequestWrapper;
import {{group}}.application.{{pkgPrefix}}.vo.{{uPrefix}}VO;
import {{group}}.domain.{{pkgPrefix}}.qry.{{uPrefix}}Qry;


/**
 * @author sujie
 * @since 1.0.0
 */
public interface {{cls}} {

	DataPage<{{uPrefix}}VO> findByPage(PageRequestWrapper<{{uPrefix}}Qry> requestWrapper);

	{{uPrefix}}VO findById(String id);

}
