package {{pkg}};

import lombok.Getter;
import lombok.Setter;
import org.flooc.combo.dataoperation.cmd.UpdateCmd;

/**
 * @author sujie
 * @since 1.0.0
 */
@Getter
@Setter
public class {{cls}} extends Abstract{{upperPrefix}}Cmd implements UpdateCmd {

	private String id;

}