package {{pkg}};

import org.mapstruct.Mapper;
import org.mapstruct.MappingConstants.ComponentModel;
import {{group}}.application.{{pkgPrefix}}.vo.{{uPrefix}}VO;
import {{group}}.domain.{{pkgPrefix}}.entity.{{uPrefix}}Entity;


/**
 * @author sujie
 * @since 1.0.0
 */
@Mapper(componentModel = ComponentModel.SPRING)
public interface {{cls}} {


	{{uPrefix}}VO entity2VO({{uPrefix}}Entity entity);

}