package {{pkg}};

import lombok.Getter;
import lombok.Setter;
import org.flooc.combo.web.request.CreateRequest;

/**
 * {{title}}新增请求模型
 *
 * @author sujie
 * @since 1.0.0
 */
@Getter
@Setter
public class {{cls}} extends Abstract{{upperPrefix}}Request implements CreateRequest {

}