package {{pkg}};

import org.floocframework.boot.data.common.qry.DataPage;
import org.floocframework.boot.data.common.qry.PageRequestWrapper;
import org.floocframework.boot.data.common.qry.PageResult;
import org.floocframework.boot.common.web.WebResData;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.GetMapping;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestMapping;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.RestController;
import org.springframework.beans.factory.annotation.Autowired;
import {{group}}.application.{{pkgPrefix}}.{{uPrefix}}QrySvc;
import {{group}}.application.{{pkgPrefix}}.vo.{{uPrefix}}VO;
import {{group}}.web.{{pkgPrefix}}.mapper.{{uPrefix}}RequestMapper;
import {{group}}.web.{{pkgPrefix}}.mapper.{{uPrefix}}RespMapper;
import {{group}}.web.{{pkgPrefix}}.request.{{uPrefix}}QryRequest;
import {{group}}.web.{{pkgPrefix}}.resp.{{uPrefix}}QryResp;


/**
 * {{title}}-读API
 *
 * @author sujie
 * @since 1.0.0
 */
@RestController
@RequestMapping("/v1/{{prefix}}/qry/")
public class {{cls}} {

  @Autowired
	private {{uPrefix}}QrySvc {{prefix}}QrySvc;
  @Autowired
	private {{uPrefix}}RequestMapper {{prefix}}RequestMapper;
  @Autowired
	private {{uPrefix}}RespMapper {{prefix}}RespMapper;

  /**
   * 分页查询{{title}}
   *
   * @param requestWrapper {{title}}分页请求模型
   * @return {{title}}分页数据响应
   */
	@PostMapping("page")
	public WebResData<PageResult<{{uPrefix}}QryResp>> page(
			@RequestBody @Validated PageRequestWrapper<{{uPrefix}}QryRequest> requestWrapper) {
		DataPage<{{uPrefix}}VO> voPage = {{prefix}}QrySvc
			.findByPage({{prefix}}RequestMapper.request2Qry(requestWrapper));
		return WebResData.forOK(PageResult.of(voPage, {{prefix}}RespMapper::vo2Resp));
	}
      
  /**
   * 查询{{title}}详情
   *
   * @param id 待查询的{{title}}主键
   * @return {{title}}详情数据响应
   */
	@GetMapping("detail")
	public WebResData<{{uPrefix}}QryResp> detail(@RequestParam("id") String id) {
		{{uPrefix}}VO vo = {{prefix}}QrySvc.findById(id);
		return WebResData.forOK({{prefix}}RespMapper.vo2Resp(vo));
	}

}