package {{pkg}};

import org.flooc.combo.dataoperation.query.PageRequestWrapper;
import org.mapstruct.Mapper;
import org.mapstruct.Mapping;
import org.mapstruct.MappingConstants.ComponentModel;
import {{group}}.application.{{pkgPrefix}}.cmd.{{upperPrefix}}CreateCmd;
import {{group}}.application.{{pkgPrefix}}.cmd.{{upperPrefix}}UpdateCmd;
import {{group}}.domain.{{pkgPrefix}}.query.{{upperPrefix}}PageQuery;
import {{group}}.web.{{pkgPrefix}}.request.{{upperPrefix}}CreateRequest;
import {{group}}.web.{{pkgPrefix}}.request.{{upperPrefix}}QueryRequest;
import {{group}}.web.{{pkgPrefix}}.request.{{upperPrefix}}UpdateRequest;

/**
 * @author sujie
 * @since 1.0.0
 */
@Mapper(componentModel = ComponentModel.SPRING)
public interface {{cls}} {


	{{upperPrefix}}CreateCmd request2Cmd({{upperPrefix}}CreateRequest request);

	{{upperPrefix}}UpdateCmd request2Cmd({{upperPrefix}}UpdateRequest request);

	{{upperPrefix}}PageQuery request2Query({{upperPrefix}}QueryRequest request);

	@Mapping(expression = "java(request2Query(request.getRequestData()))", target = "requestData")
	PageRequestWrapper<{{upperPrefix}}PageQuery> request2Query(PageRequestWrapper<{{upperPrefix}}QueryRequest> request);

}