package {{pkg}};

import org.mapstruct.Mapper;
import org.mapstruct.MappingConstants.ComponentModel;
import {{group}}.domain.{{pkgPrefix}}.vo.{{upperPrefix}}VO;
import {{group}}.web.{{pkgPrefix}}.response.{{upperPrefix}}QueryResp;

/**
 * @author sujie
 * @since 1.0.0
 */
@Mapper(componentModel = ComponentModel.SPRING)
public interface {{cls}} {


	{{upperPrefix}}QueryResp vo2Resp({{upperPrefix}}VO vo);

}