package {{pkg}};

import org.mapstruct.Mapper;
import org.mapstruct.MappingConstants.ComponentModel;
import {{group}}.application.{{pkgPrefix}}.vo.{{uPrefix}}VO;
import {{group}}.web.{{pkgPrefix}}.resp.{{uPrefix}}QryResp;

/**
 * @author sujie
 * @since 1.0.0
 */
@Mapper(componentModel = ComponentModel.SPRING)
public interface {{cls}} {


	{{uPrefix}}QryResp vo2Resp({{uPrefix}}VO vo);

}