package {{pkg}};

import lombok.Getter;
import lombok.Setter;
import org.floocframework.boot.common.web.req.UpdateReq;

/**
 * {{title}}修改请求模型
 *
 * @author sujie
 * @since 1.0.0
 */
@Getter
@Setter
public class {{cls}} extends Abstract{{uPrefix}}Request implements UpdateReq {

  private String id;

}