package {{pkg}};

import lombok.Getter;
import lombok.Setter;
import org.flooc.combo.web.request.UpdateRequest;

/**
 * {{title}}修改请求模型
 *
 * @author sujie
 * @since 1.0.0
 */
@Getter
@Setter
public class {{cls}} extends Abstract{{upperPrefix}}Request implements UpdateRequest {

  private String id;

}