package {{pkg}};

import org.springframework.stereotype.Repository;
import {{group}}.domain.{{pkgPrefix}}.entity.{{upperPrefix}}Entity;
import {{group}}.domain.{{pkgPrefix}}.repo.{{upperPrefix}}CmdRepo;
import org.springframework.beans.factory.annotation.Autowired;
import {{group}}.infrastructure.{{pkgPrefix}}.po.{{upperPrefix}}PO;
import {{group}}.infrastructure.{{pkgPrefix}}.mapper.{{upperPrefix}}POMapper;
import {{group}}.infrastructure.{{pkgPrefix}}.repo.{{upperPrefix}}JpaCmdRepo;

/**
 * @author sujie
 * @since 1.0.0
 */
@Repository
public class {{cls}} implements {{upperPrefix}}CmdRepo {

  @Autowired
	private {{upperPrefix}}JpaCmdRepo {{prefix}}JpaCmdRepo;
  @Autowired
	private {{upperPrefix}}POMapper {{prefix}}POMapper;

	@Override
	public {{upperPrefix}}Entity createEntity({{upperPrefix}}Entity entity) {
		{{upperPrefix}}PO {{prefix}}PO = {{prefix}}JpaCmdRepo.save({{prefix}}POMapper.entity2PO(entity));
		return {{prefix}}POMapper.po2Entity({{prefix}}PO);
	}

	@Override
	public {{upperPrefix}}Entity updateEntity({{upperPrefix}}Entity entity) {
		{{upperPrefix}}PO {{prefix}}PO = {{prefix}}JpaCmdRepo.saveAndFlush({{prefix}}POMapper.entity2PO(entity));
		return {{prefix}}POMapper.po2Entity({{prefix}}PO);
	}

	@Override
	public void deleteEntity({{upperPrefix}}Entity entity) {
		{{prefix}}JpaCmdRepo.deleteById(entity.getId());
	}

}