package {{pkg}};

import org.flooc.combox.boot.dataoperation.jpa.repo.AbstractCmdRepoImpl;
import org.springframework.stereotype.Repository;
import {{group}}.domain.{{pkgPrefix}}.entity.{{upperPrefix}}Entity;
import {{group}}.domain.{{pkgPrefix}}.repo.{{upperPrefix}}CmdRepo;
import {{group}}.infrastructure.{{pkgPrefix}}.po.{{upperPrefix}}PO;
import {{group}}.infrastructure.{{pkgPrefix}}.mapper.{{upperPrefix}}POMapper;
import {{group}}.infrastructure.{{pkgPrefix}}.repo.{{upperPrefix}}JpaCmdRepo;

/**
 * @author sujie
 * @since 1.0.0
 */
@Repository
public class {{cls}} extends AbstractCmdRepoImpl<{{upperPrefix}}PO, {{upperPrefix}}Entity, {{upperPrefix}}JpaCmdRepo, {{upperPrefix}}POMapper> implements {{upperPrefix}}CmdRepo {


}