package {{pkg}};

import org.springframework.data.jpa.repository.JpaRepository;
import {{group}}.infrastructure.{{pkgPrefix}}.po.{{upperPrefix}}PO;

/**
 * @author sujie
 * @since 1.0.0
 */
public interface {{cls}} extends JpaRepository<{{upperPrefix}}PO, String> {


}