package {{pkg}};

import org.springframework.data.jpa.repository.JpaRepository;
import {{group}}.infrastructure.{{pkgPrefix}}.dataobject.{{uPrefix}}DO;

/**
 * @author sujie
 * @since 1.0.0
 */
public interface {{cls}} extends  JpaRepository<{{uPrefix}}DO, String> {


}