package {{pkg}};

import jakarta.persistence.Entity;
import jakarta.persistence.Table;
import lombok.Getter;
import lombok.Setter;
import org.flooc.combox.boot.dataoperation.jpa.AbstractAuditingPO;

/**
 * @author sujie
 * @since 1.0.0
 */
@Entity
@Table(name = "{{prefix}}")
@Setter
@Getter
public class {{cls}} extends AbstractAuditingPO {


}