package {{pkg}};

import jakarta.persistence.Convert;
import jakarta.persistence.Entity;
import jakarta.persistence.GeneratedValue;
import jakarta.persistence.GenerationType;
import jakarta.persistence.Table;
import lombok.Getter;
import lombok.Setter;
import org.floocframework.boot.data.jpa.AbstractAuditingDO;

/**
 * @author sujie
 * @since 1.0.0
 */
@Entity
@Table(name = "{{prefix}}")
@Setter
@Getter
public class {{cls}} extends AbstractAuditingDO {


}