package {{pkg}};

import org.flooc.combox.boot.dataoperation.jpa.mapper.POMapper;
import org.mapstruct.Mapper;
import org.mapstruct.MappingConstants.ComponentModel;
import {{group}}.domain.{{pkgPrefix}}.entity.{{upperPrefix}}Entity;
import {{group}}.infrastructure.{{pkgPrefix}}.po.{{upperPrefix}}PO;


/**
 * @author sujie
 * @since 1.0.0
 */
@Mapper(componentModel = ComponentModel.SPRING)
public interface {{cls}} extends POMapper<{{upperPrefix}}PO,{{upperPrefix}}Entity> {


}