package {{pkg}};

import com.querydsl.core.BooleanBuilder;
import org.flooc.combox.boot.dataoperation.jpa.repo.AbstractQueryRepoImpl;
import org.springframework.stereotype.Repository;
import org.springframework.boot.context.properties.PropertyMapper;
import {{group}}.domain.{{pkgPrefix}}.entity.{{upperPrefix}}Entity;
import {{group}}.domain.{{pkgPrefix}}.query.{{upperPrefix}}PageQuery;
import {{group}}.domain.{{pkgPrefix}}.repo.{{upperPrefix}}QueryRepo;
import {{group}}.infrastructure.{{pkgPrefix}}.po.{{upperPrefix}}PO;
import {{group}}.infrastructure.{{pkgPrefix}}.mapper.{{upperPrefix}}POMapper;
import {{group}}.infrastructure.{{pkgPrefix}}.repo.{{upperPrefix}}JpaQueryRepo;

/**
 * @author sujie
 * @since 1.0.0
 */
@Repository
public class {{cls}} extends AbstractQueryRepoImpl<{{upperPrefix}}PO, {{upperPrefix}}Entity, {{upperPrefix}}JpaQueryRepo, {{upperPrefix}}POMapper, {{upperPrefix}}PageQuery> implements {{upperPrefix}}QueryRepo {

   @Override
  protected void buildPageQueryCondition(BooleanBuilder bb, {{upperPrefix}}PageQuery pageQuery, PropertyMapper propertyMapper) {

  }

}